#tabelaJogo {
  border: 2px solid;
  height: 210px;
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  overflow: hidden;
}
.coluna {
  width: 35px;
  margin: 0px 3px;
  background: #0470ce7c;
  background: -moz-linear-gradient(left, #0470ce7c 0%, #a4a4a467 50%, #0470ce7c 100%);
  background: -webkit-linear-gradient(left, #0470ce7c 0%, #a4a4a467 50%, #0470ce7c 100%);
  background: linear-gradient(to right, #0470ce7c 0%, #a4a4a467 50%, #0470ce7c 100%);
  display: flex;
  align-items: center;
  flex-direction: column-reverse;
  opacity: 70%;
}
/*  <rômulo>*/
.disco {
border-radius: 50%;
height: 30px;
width: 30px;
z-index: -1;
animation: fall 0.6s ease-out;
}

h2 {
  display: flex;
  justify-content: center;    
margin: 10px 10px 30px 10px;
  padding: 10px;
color: white;
  font-size: 19px;
  text-shadow: 4px 2px 1px #2558f0;
  letter-spacing: 1px;
  margin-top: 20px;
  margin-bottom: 30px;
  text-transform: uppercase;
}

#instrutions p {
  display:flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  margin: 20px;

}

.hidden {
  display: none;
}

ol li {
  font-size: 16px;
}

#instrutions-2, ol {
  font-family: Arial, Helvetica, sans-serif
}
#cabecalho {
  display:flex;
  flex-direction: column;
}
header {
  text-align: center;
  color: white;
}
header h1 {
  font-size: 15vw;
  font-family: 'Londrina Solid';
  text-transform: uppercase;
}
header #cabecalho {
  width: 50%;
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
}

#div-play {
  margin-top: 20px;
  display:flex;
  align-items: center;
  justify-content: center;
  align-content: center;
}

button {    
  font-family: 'Press Start 2P', cursive;
  border: 4px solid #ffff00;
  background-color: black;
  color: white;
  padding: 10px;
  text-transform: uppercase;
}
/*  </rômulo>*/

/*  <allan>  */
body {
  background-image: url(./img/star-wars-nawpic-2.png);
  background-size: cover;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}
.img{
	position: relative;
	margin-top: -15px;
	max-width:70%;
	height:auto;
  align-self: center;
}
#blocoVezdoJogador {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  max-width: 1200px;
  width: 70%;
  height: 80px;
  color: white;
  font-size: 22px;
  font-weight: 700;
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 20px;
  border: 2px ridge white;
  margin: 10px 0;
  margin-top: 100px;
  opacity: 80%;
}
.blocoVezdoJogadorVermelho {
  background-color: rgb(184, 54, 54);
}
.blocoVezdoJogadorPreto {
  background-color: rgb(27, 27, 27);
}
.bolinhaPreta {
  background-color: rgb(27, 27, 27);
}
.bolinhaVermelha {
  background-color: rgb(184, 54, 54);
}
.blocoResultado {
    min-width: 200px;
    max-width: 500px;
    width: 80%;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #0000e2;
    color: white;
}
.textoResultado {
    font-size: 25px;
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 30px;
}
/*  </allan>    */

/* <daniel */
@keyframes fall {
    0% { transform: translateY(-200px);}
    95% { transform: translateY(0px);}
    97% { transform: translateY(-5px);}
    100% { transform: translateY(0px);}
}
/*  </daniel> */
